body {
    flex-direction: column;
    display: flex;
    background-color: #3f3f3f;
}

.nav-item {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #ffffff;
}

#mainBlock {
    flex: 1
}

#verticalNav {
    width: 30%;
}

#horizontalNav {
    height: 10%
}

.container-fluid {
    height: 100%;
    border-radius: 100px 0 0 0;
    color: #000000;
    background-color: #ffffff;
}

.svg {
    fill: #00f;
}