body {
    flex-direction: column;
    font-size: 4vh;
    display: flex;
    background-color: #3f3f3f;
}

.nav-item {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #ffffff;
}

.flex-column {
    width: 100%
}

#mainBlock {
    flex: 1
}

#verticalNav {
    width: 70vh;
}

.horizontalNav {
    height: 10vh;
}

.container-fluid {
    height: 100%;
    border-radius: 100px 0 0 0;
    font-size: 3vh;
    color: #000000;
    background-color: #ffffff;
}

.nav-link {
    color: #ffffff;
}

.svg {
    filter: invert()
}