body {
    flex-direction: column;
    font-size: 4vh;
    display: flex;
    background-color: #404040;
}

.nav-item {
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    font-size: 3vh;
    color: #f0f0f0;
}

.flex-column {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

#mainBlock {
    flex: 1
}

#verticalNav {
    width: 70vh;
}

.horizontalNav {
    height: 10vh;
}

.container-fluid {
    height: 100%;
    border-radius: 50px 0 0 0;
    font-size: 3vh;
    color: #000000;
    background-color: #fbfbfb;
}

.nav-link {
    color: #ffffff;
}

.svg {
    filter: invert()
}