<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
    <link rel="preload" type="text/css" href="/bootstrap.min.css" as="style">
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body class="h-100">
<ul class="nav" id="horizontalNav">
    <li class="nav-item">
        <a class="nav-item nav-link" href="#">JJS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Horizontal test #2</a>
    </li>
</ul>
<div class="d-flex" id="mainBlock">
    <div class="d-flex" id="verticalNav">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link disabled">Nothing here totally</a>
            </li>
        </ul>
    </div>
    <div class="d-flex flex-grow-1 container align-items-center justify-content-center">
            <div class="col-lg-3 col-sm-12">
                <div class="text-center">
                    <h3>Sign up in JJS</h3>
                </div>
                <form action="/createUser" method="post">
                    <div class="form-group mb-2">
                        <input type="text" class="form-control" id="loginInput" placeholder="Enter login" name="login">
                    </div>
                    <div class="form-group mb-2">
                        <input type="password" class="form-control" id="passwordInput" placeholder="Enter password" name="password">
                    </div>
                    {{.Message}}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary" id="submit">Create user</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>