<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <form action="/login" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="loginInput" placeholder="Enter your login" name="login">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="passwordInput" placeholder="Enter your password" name="password">
        </div>
        {{.Message}}
        <button type="submit" class="btn btn-primary" id="submit">Log in</button>
    </form>
</div>
</body>
</html>
