{{define "title"}}
Login
{{end}}
{{define "content"}}
<div class="col-lg-3 col-sm-12">
    <div class="text-center">
        <h3>Log in to JJS</h3>
    </div>
    <form action="/login" method="post">
        <div class="form-group mb-2">
            <input type="text" class="form-control" id="loginInput" placeholder="Enter your login" name="login">
        </div>
        <div class="form-group mb-2">
            <input type="password" class="form-control" id="passwordInput" placeholder="Enter your password" name="password">
        </div>
        {{.Message}}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" id="submit">
                <img src="/arrow-bar-right.svg" class="svg">
                Log in
            </button>
        </div>
    </form>
</div>
{{end}}