{{define "title"}}
Submit run
{{end}}
{{define "nav"}}
{{ $currentProblem := .Problem }}
{{ range $index, $problem := .Contest.Problems }}
    {{ if eq $currentProblem.Id $problem.Id }}
        <li class="nav-item active">
            <a class="nav-link" href="#">
                {{ $problem.Id }}. {{ $problem.Title }}
            </a>
        </li>
    {{ else }}
        <li class="nav-item">
            <a class="nav-link" href="{{ $problem.Id }}">
                {{ $problem.Id }}. {{ $problem.Title }}
            </a>
        </li>
    {{ end }}
{{end}}
{{end}}
{{define "content"}}
<div class="col-lg-6">
    <div class="text-center">
        <h3>Submit run to {{ .Contest.Title }} to problem {{ .Problem.Id }} ({{ .Problem.Title }})</h3>
    </div>
    <form action="" enctype="multipart/form-data" method="post">
        <input type="hidden" value="{{ .Contest.Id }}" name="contestID">
        <input type="hidden" value="{{ .Problem.Id }}" name="problemID">
        <select class="custom-select mb-2" name="toolchainID" required>
            <option selected disabled value="">Choose toolchain...</option>
            {{ range .ToolChains }}
                <option value="{{ .Id }}">{{ .Name }}</option>
            {{end}}
        </select>
        <input type="file" class="form-control-file my-file" name="code" id="fileInput" required>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" id="submit">Submit run</button>
        </div>
    </form>
</div>
{{end}}}